%btn-base {
  @include inline-flexbox;
  padding: 0 8px;
  font-weight: 700;
  border-radius: 4px;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}

// NOTE: Button Styles
.btn-fill-primary {
  @extend %btn-base;
  color: $white;
  background-color: $blue;
  transition: background-color 200ms ease-in-out;

  // NOTE: button States
  &:not(:disabled):hover {
    background-color: $blue-dark;
  }
}

/*
 * :not 선택자
 *
 * disabled 상태가 아닌 .btn-primary 요소
 * .btn-primary:not(:disabled)
 *
 * disabled 상태가 아닌 .btn-primary요소가 hover 되었을 때
 * .btn-primary:not(:disabled):hover
 * 
 * 즉, hover는 정상적으로 작동하나, disable 상태에서는 동작하지 않도록 설계
*/

.btn-fill-secondary {
  @extend %btn-base;
  color: $primary;
  background-color: $border;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $tertiary;
  }
}

.btn-outlined {
  @extend %btn-base;
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;
  transition: background-color 200ms ease-in-out;

  &:not(:disabled):hover {
    background-color: $blue-light;
  }
}

.btn-ghost {
  @extend %btn-base;
  color: $primary;
  background-color: transparent;
  transition: color 200ms ease-in-out;

  &:not(:disabled):hover {
    color: $secondary;
  }
}

// NOTE: Button Sizes
// 재사용이 가능한 컴포넌트를 만들 때는 width값을 선언하지 않은 것이 좋음, 왜냐하면 content에 따라 가로길이가 가변하기 때문
.btn-32 {
  @include text-style(14);
  height: 32px;
}

.btn-40 {
  @include text-style(16);
  height: 40px;
}

.btn-48 {
  @include text-style(16);
  height: 48px;
}

.btn-55 {
  @include text-style(18);
  height: 55px;
}
