@import './base/fonts';
// package.json - script - sass 에서는 main.scss 파일만 읽기 때문에 fonts.scss 파일의 로드를 위한 import문

p {
  color: black;
  display: block;
  text-transform: lowercase;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
}
